@using Inventory.Min.Data
@model Inventory.Min.Mvc.Web.App.Models.ItemDetailVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row myrow">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.InitialCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.InitialCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.CurrentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.CurrentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label(nameof(Item.Category))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Categories!.FirstOrDefault(i=>i.Id == model.Item!.CategoryId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label(nameof(Item.Currency))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Currencies!.FirstOrDefault(i=>i.Id == model.Item!.CurrencyId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Length Unit")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Units!.FirstOrDefault(i=>i.Id == model.Item!.LengthUnitId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Heigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Heigth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Volume Unit")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Units!.FirstOrDefault(i=>i.Id == model.Item!.VolumeUnitId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item!.Mass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.Mass)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Mass Unit")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Units!.FirstOrDefault(i=>i.Id == model.Item!.MassUnitId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Tag")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.Tags!.FirstOrDefault(i=>i.Id == model.Item!.TagId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("State")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lexicon!.States!.FirstOrDefault(i=>i.Id == model.Item!.StateId)!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Parent")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item!.ParentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Item!.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>